---
layout: archive
author_profile: true
gallery-bohol1:
  - url: 
    image_path: /assets/image/log/bohol/DSC05927.jpeg
    alt: "Bohol"
gallery-bohol2:
  - url: 
    image_path: /assets/image/log/bohol/IMG_3291.jpeg
    alt: "Bohol"
gallery-bohol3:
  - url: 
    image_path: /assets/image/log/bohol/IMG_3477.jpeg
    alt: "Bohol"
gallery-mongolia1:
  - url: 
    image_path: /assets/image/log/Mongolia/IMG_4177.jpg
    alt: "Mongolia"
gallery-mongolia2:
  - url: 
    image_path: /assets/image/log/Mongolia/IMG_4271.jpg
    alt: "Mongolia"
gallery-commencement:
  - url: 
    image_path: /assets/image/log/Commencement.jpg
    alt: "Commencement"
gallery-freediving:
  - url: 
    image_path: /assets/image/log/Freediving.jpg
    alt: "Freediving"    
gallery-homecoming:
  - url: 
    image_path: /assets/image/log/laboratory/IMG_2177.jpg
    alt: "1st Homecoming"
gallery-ganghwa:
  - url: 
    image_path: /assets/image/log/ganghwa/IMG_3599.jpg
    alt: "Galaxy at Ganghwa"
gallery-canmore1:
  - url: 
    image_path: /assets/image/log/canmore/IMG_2553_.jpg
    alt: "Stars at Canmore"
gallery-canmore2:
  - url: 
    image_path: /assets/image/log/canmore/IMG_2557.jpg
    alt: "Stars at Canmore"
gallery-changgeonggung-palace1:
  - url: 
    image_path: /assets/image/log/changgeonggung-palace/IMG_2779.jpg
    alt: "Changgeonggung palace at Seoul"
gallery-changgeonggung-palace2:
  - url: 
    image_path: /assets/image/log/changgeonggung-palace/IMG_2799.jpg
    alt: "Changgeonggung palace at Seoul"
gallery-cityscape:
  - url: 
    image_path: /assets/image/log/seoul-cityscape/Background03.jpg
    alt: "Seoul cityscape at Bldg. 301 in SNU"
gallery-snu:
  - url: 
    image_path: /assets/image/log/SNU/four_season_2.jpg
    alt: "SNU at Mt. Samsung"
gallery-sorae-ecology-park:
  - url: 
    image_path: /assets/image/log/sorae-ecology-park/IMG_2696.jpg
    alt: "Sorae ecology park at Incheon"
gallery-calgary:
  - url: 
    image_path: /assets/image/log/calgary/IMG_2583.jpg
    alt: "Calgary cityview at Calgary Tower"
gallery-seorak1:
  - url: 
    image_path: /assets/image/log/Seoraksan/PB090406.jpg
    alt: "Dinosaur Ridge"
gallery-seorak2:
  - url: 
    image_path: /assets/image/log/Seoraksan/IMG_0135.jpg
    alt: "Autumnal tints of Seoraksan"
gallery-seorak3:
  - url: 
    image_path: /assets/image/log/Seoraksan/PB090387_.jpg
    alt: "Ilwalobongbyeong: A Folding Screen"
gallery-jeju:
  - url: 
    image_path: /assets/image/log/Jeju/P8022596.jpg
    alt: "A shore of Jeju"
---
<script>
  function scrollGallery(button, direction) {
    const galleryWindow = button.closest('.gallery-window');
    const container = galleryWindow.querySelector('.gallery-container');
    const scrollAmount = 300; // 한 번에 스크롤할 픽셀 수
    container.scrollBy({ left: direction * scrollAmount, behavior: 'smooth' });

    let new_scrollLeft = container.scrollLeft + direction * scrollAmount;
    checkScrollVisibility(galleryWindow, new_scrollLeft, container.scrollWidth - container.clientWidth);
  }

  function checkScrollVisibility(dom, scrollLeft, maxLeft) {
    let scroll = dom.querySelectorAll(".scroll-button");

    if (scrollLeft <= 0) {
      scroll[0].style.opacity = 0;
      scroll[0].style.pointerEvents = 'none';
    } else {
      scroll[0].style.opacity = 1;
      scroll[0].style.pointerEvents = '';
    }
    if (scrollLeft >= maxLeft) {
      scroll[1].style.opacity = 0;
      scroll[1].style.pointerEvents = 'none';
    }else {
      scroll[1].style.opacity = 1;
      scroll[1].style.pointerEvents = '';
    }
  }

  function scrollGalleryEnter(dom) {
    const galleryWindow = dom.closest('.gallery-window');
    const container = galleryWindow.querySelector('.gallery-container');
    checkScrollVisibility(galleryWindow, container.scrollLeft, container.scrollWidth - container.clientWidth);
  }

  function scrollGalleryLeave(dom) {
    scroll = dom.querySelectorAll(".scroll-button");
    for (const element of scroll)
      element.style.opacity = 0;
  }
</script>

<h2 class="gallery-title">2024/03/28, Bohol, Philippines</h2>
<div class="gallery-window" onmouseenter="scrollGalleryEnter(this)" onmouseleave="scrollGalleryLeave(this)">
  <button class="scroll-button left" onclick="scrollGallery(this, -1)">&#10094;</button>
  <div id="gallery-container" class="gallery-container">
    {% include gallery class="carousel" id="gallery-bohol1" caption="" %}
    {% include gallery class="carousel" id="gallery-bohol2" caption="" %}
    {% include gallery class="carousel" id="gallery-bohol3" caption="" %}
  </div>
  <button class="scroll-button right" onclick="scrollGallery(this, 1)">&#10095;</button>
</div>

<h2 class="gallery-title">2023/09/12, Mongolia</h2>
<div class="gallery-window" onmouseenter="scrollGalleryEnter(this)" onmouseleave="scrollGalleryLeave(this)">
  <button class="scroll-button left" onclick="scrollGallery(this, -1)">&#10094;</button>
  <div class="gallery-container">
    {% include gallery class="carousel" id="gallery-mongolia1" caption="" %}
    {% include gallery class="carousel" id="gallery-mongolia2" caption="" %}
  </div>
  <button class="scroll-button right" onclick="scrollGallery(this, 1)">&#10095;</button>
</div>

<h2 class="gallery-title">2022/08/29, Ph.D. Commencement</h2>
{% include gallery id="gallery-commencement" caption="" %}

<h2 class="gallery-title">2022/06/21, The first diving pool</h2>
{% include gallery id="gallery-freediving" caption="" %}

<h2 class="gallery-title">2019/07/08, 1st Homecoming</h2>
{% include gallery id="gallery-homecoming" caption="" %}

<h2 class="gallery-title">Ganghwa-do, Incheon, Korea</h2>
{% include gallery id="gallery-ganghwa" caption="" %}

<h2 class="gallery-title">Changgyeonggung Palace, Seoul, Korea</h2>
<div class="gallery-window" onmouseenter="scrollGalleryEnter(this)" onmouseleave="scrollGalleryLeave(this)">
  <button class="scroll-button left" onclick="scrollGallery(this, -1)">&#10094;</button>
  <div class="gallery-container">
    {% include gallery class="carousel" id="gallery-changgeonggung-palace1" caption="" %}
    {% include gallery class="carousel" id="gallery-changgeonggung-palace2" caption="" %}
  </div>
  <button class="scroll-button right" onclick="scrollGallery(this, 1)">&#10095;</button>
</div>

<h2 class="gallery-title">Sorae Ecology Park, Incheon, Korea</h2>
{% include gallery id="gallery-sorae-ecology-park" caption="" %}

<h2 class="gallery-title">Canmore, Alberta, Canada</h2>
<div class="gallery-window" onmouseenter="scrollGalleryEnter(this)" onmouseleave="scrollGalleryLeave(this)">
  <button class="scroll-button left" onclick="scrollGallery(this, -1)">&#10094;</button>
  <div class="gallery-container">
    {% include gallery class="carousel" id="gallery-canmore1" caption="" %}
    {% include gallery class="carousel" id="gallery-canmore2" caption="" %}
  </div>
  <button class="scroll-button right" onclick="scrollGallery(this, 1)">&#10095;</button>
</div>

<h2 class="gallery-title">Centre Street South, Calgary, Alberta, Canada</h2>
{% include gallery id="gallery-calgary" caption="" %}

<h2 class="gallery-title">Seoul, Korea</h2>
{% include gallery id="gallery-cityscape" caption="" %}

<h2 class="gallery-title">Seoul National University, Seoul, Korea</h2>
{% include gallery id="gallery-snu" caption="" %}

<h2 class="gallery-title">Mt. Seoraksan, Gangwon, Korea</h2>
<div class="gallery-window" onmouseenter="scrollGalleryEnter(this)" onmouseleave="scrollGalleryLeave(this)">
  <button class="scroll-button left" onclick="scrollGallery(this, -1)">&#10094;</button>
  <div class="gallery-container">
    {% include gallery class="carousel" id="gallery-seorak3" caption="" %}
    {% include gallery class="carousel" id="gallery-seorak1" caption="" %}
    {% include gallery class="carousel" id="gallery-seorak2" caption="" %}
  </div>
  <button class="scroll-button right" onclick="scrollGallery(this, 1)">&#10095;</button>
</div>

<h2 class="gallery-title">A seashore, Jeju, Korea</h2>
{% include gallery id="gallery-jeju" caption="" %}
