---
layout: archive 
author_profile: true
header:
  overlay_image: assets/image/header/skiing.jpg
excerpt: "Research"
feature_row_pub:
  - url: /research/conference/Robust-Real-time-RGB-D-Visual-Odometry-in-Dynamic-Environments-via-Rigid-Motion-Model/
    image_path: /assets/image/thumbnail/IROS2019.jpg
    alt: "Robust VO"
    title: "Robust VO"
    excerpt: "VO estimates the ego-motion with high accuracy and robustly in dynamic environments."
  - url: /research/conference/Edge-Detection-for-Event-Cameras-using-Intra-pixel-area-Events/
    image_path: /assets/image/thumbnail/event3D.gif
    alt: "Event Camera"
    title: "Event Camera"
    excerpt: "Intra-pixel-area events help the edge detection estimate local plane fitted on time surface precisely."
  - url: /_pages/icsl-de-dataset/index.html
    image_path: /assets/image/thumbnail/dataset.jpg
    alt: "Datasets"
    title: "Datasets"
    excerpt: "ICSL Dynamic Environments (ICSL-DE) dataset includes image sequences collected in dynamic environments."
---

<p> In Spring 2015, I joined <a href="http://larr.snu.ac.kr/" target="_blank">LARR</a> (former ICSL) in Seoul National University to pursue research in <b>Robotics</b>. I am currently working with <a href="http://pyojinkim.com/" target="_blank">Pyojin Kim</a>, <a href="http://blog.naver.com/rlackd93/" target="_blank">Changhyeon Kim</a>, <a href="http://haram-kim.github.io/" target="_blank">Haram Kim</a>, and <a href="https://scholar.google.com/citations?user=7pvJoZoAAAAJ" target="_blank">Youngseok Jang</a>.</p>
<p> My research interests in robotics are <b>3D Vision</b> (Robust Visual Odometry in Dynamic Environments [<a href="/research/conference/Robust-Real-time-RGB-D-Visual-Odometry-in-Dynamic-Environments-via-Rigid-Motion-Model/">1</a>, <a href="/research/conference/Realtime-Rigid-Motion-Segmentation-using-Grid-based-Optical-Flow/">2</a>] and Applications for Event Camera [<a href="/research/conference/Edge-Detection-for-Event-Cameras-using-Intra-pixel-area-Events/">3</a>]) and <b>2D Vision</b> [<a href="/research/conference/Exposure-Correction-and-Image-Blending-for-Planar-Panorama-Stitching/">4</a>].</p>

{% include feature_row id="feature_row_pub" caption="Featured Publications" %}

<h3 class="archive__subtitle">Publications</h3>

{% for post in site.categories.Research %}
	{% include archive-single.html type='post' %}
{% endfor %}