{% if page.previous or page.next %}
  <nav class="pagination pagination--post">
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager pagination--pager-prev" title="{{ page.previous.title | markdownify | strip_html }}">
        <span class="pagination--pager-label"><span class="pagination--arrow">&lsaquo;</span> {{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</span>
        <span class="pagination--pager-title">{{ page.previous.title | markdownify | strip_html }}</span>
      </a>
    {% else %}
      <span class="pagination--pager pagination--pager-prev disabled"></span>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager pagination--pager-next" title="{{ page.next.title | markdownify | strip_html }}">
        <span class="pagination--pager-label">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }} <span class="pagination--arrow">&rsaquo;</span></span>
        <span class="pagination--pager-title">{{ page.next.title | markdownify | strip_html }}</span>
      </a>
    {% endif %}
  </nav>
{% endif %}
