/* ==========================================================================
   SEARCH
   ========================================================================== */

.layout--search {
  .archive__item-teaser {
    margin-bottom: 0.25em;
  }
}

.search__toggle {
  margin-left: 1rem;
  margin-right: 1rem;
  height: $nav-toggle-height;
  padding: 0;
  border: 0;
  outline: none;
  color: $primary-color;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;

  &:hover {
    color: $masthead-link-color-hover;
  }

  &:before {
    @supports (pointer-events: none) {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  &.open {
    &:before {
      pointer-events: auto;
      z-index: -1;
    }
  }
}

.search-icon {
  width: 100%;
  height: 100%;
}

.search-content {
  // display: none;
  // visibility: hidden;
  display: block;
  visibility: hidden;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 0px;
  transition: 0.2s;

  &__inner-wrap {
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    -webkit-animation: $intro-transition;
    animation: $intro-transition;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

  }

  &__form {
    background-color: transparent;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
    // min-width: $right-sidebar-width-narrow;

    // @include breakpoint($medium) {
    //   max-width: $right-sidebar-width-wide;
    // }
  }

  .search-input {
    display: block;
    margin-bottom: 0;
    padding: .5em 1em;
    border: 1px solid $light-gray;
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }

  &.is--visible {
    display: block;
    visibility: visible;
    width: 15em;

    &::after {
      content: "";
      display: block;
    }
  }

  .archive__item {
    margin-bottom: 2em;

    @include breakpoint($large) {
      width: 75%;
    }

    @include breakpoint($x-large) {
      width: 50%;
    }
  }

  .archive__item-title {
    margin-top: 0;
  }

  .archive__item-excerpt {
    margin-bottom: 0;
  }
}

/* Results */
$scroll-bar-width: 1.2em;

.results {
  background-color: $lighter-gray;
  padding: 0 $scroll-bar-width 0 1em;
  margin-bottom: 0em;
  position: relative;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: calc(100% + #{$scroll-bar-width}); // related to (.results-wrapper,  width)
  
  @include breakpoint($small) {
    width: calc(50vw + #{$scroll-bar-width});
  }

  @include breakpoint($medium) {
    width: calc(30vw + #{$scroll-bar-width});
  }
  
  @include breakpoint($large) {
    width: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }

  &__found {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px $light-gray solid;
  }

  & > .list__item {
    padding-left: .5em;
    padding-top: 0;
    padding-bottom: 0;
    margin: .8em 0;
    border-left: 4px $light-gray solid;
  }

  & > .list__item:last-child {
    border-left: 4px $gray solid;
  }

  &-bg {
    position: absolute;
    margin-top: 2em;
    width: calc(100% - 4em);
    z-index: 200;
    pointer-events: none;
  }
  &-wrapper {
    box-shadow: 0 0 2em rgba(#000, 0.05);
    overflow: hidden;
    border-radius: $border-hard-radius;
    position: sticky;
    left: 100%;
    max-height: 50vh;
    top: 5em;
    z-index: 200;
    width: 100%; // related to (.results,  width)
    transition: width 0.2s;
  
    pointer-events: all;
    display: none;
    visibility: hidden;
    
    &.is--visible {
      display: block;
      visibility: visible;
    }

    @include breakpoint($small) {
      width: 50vw;
    }

    @include breakpoint($medium) {
      width: 30vw;
    }
    
    @include breakpoint($large) {
      width: calc(#{$right-sidebar-width-narrow} - #{$scroll-bar-width});
    }
  
    @include breakpoint($x-large) {
      width: calc(#{$right-sidebar-width} - #{$scroll-bar-width});
    }
  }
}

.search__item {
  margin-bottom: 0;
  @extend .archive__item;
  width: 100%;

  &-title {
    @extend .archive__item-title;
    font-size: $type-size-5;
    font-weight: normal;
    margin: .5em 0;

    > a {
      text-decoration: none;
    }
  }

  &-excerpt {
    @extend .archive__item-excerpt;
    display: none;
  }

  &-teaser_leftOfText {
    @extend .archive__item-teaser_leftOfText;
    display: none;
  }
}

/* Algolia search */

.ais-search-box {
  max-width: 100% !important;
  margin-bottom: 2em;
}

.archive__item-title .ais-Highlight {
  color: $primary-color;
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: $link-color-hover;
}

.archive__item-excerpt .ais-Highlight {
  color: $primary-color;
  font-style: normal;
  font-weight: bold;
}
